@media screen and (min-width: 701px) { /*for PC*/
    html {
        font-size: 20px;
    }

    body {
        width: 695px;
        margin: auto;
    }

    .title-area {
        width: 695px;
    }

    .theme-select {
        font-size: 18px;
        height: 30px;
        width: 100px;
        margin: 0 0 5px 0;
    }

    .first-p {
        margin: 5px 0 0 0;
    }

    .second-p {
        margin: 5px 0 0 0;
    }

    hr {
        width: calc(695px - 1.6px);
        margin: 8px 0 8px 0;
    }

    .normal-p {
        margin: 8px 0 0 0;
    }

    .me-p {
        margin: 6px 0 0 0;
    }

    .btn-normal {
        font-size: 16px;
        width: 70px;
    }

    .btn-modal {
        font-size: 14px;
        width: 70px;
        height: 40px;
    }

    #delete {
        margin: 0 0 0 8px;
    }

    .measurement-container {
        width: 695px;
        margin: 8px 0 0 0;
    }

    .measurement-area {
        padding: 5px 8px 10px 8px;
    }

    #start, #stop, #reset {
        margin: 0 10px 0 0;
    }

    .history-area {
        width: 695px;
        margin: 10px 0 0 0;
    }

    .history-title {
        font-size: 14px;
    }

    #history {
        font-size: 11.5px;
        height: 230.2px;
        margin: 1px 0 0 0;
        padding: 0.1px 1px;
    }

    .btn-clear-area {
        margin: 2px 0 0 0;
    }

    #copy {
        margin: 0 10px 0 0;
    }

    #alert-content, #confirm-content {
        margin: 20px auto auto auto;
        width: 420px;
    }

    .alert-main, .confirm-main{
        padding: 5px 15px 15px 15px;
    }

    #alert-text, #confirm-text {
        font-size: 17px;
    }

    .alert-btn-area, .confirm-btn-area {
        margin: 14px 5px 0 0;
    }

    #confirm-close-yes {
        margin: 0 10px 0 0;
    }

}

@media screen and (min-width: 551px) and (max-width: 700px) { /*for Tablet*/
    html {
        font-size: 16px;
    }

    body {
        width: 545px;
        margin: 2px auto auto auto;
    }

    .title-area {
        width: 545px;
    }

    .theme-select {
        font-size: 16px;
        height: 28px;
        width: 80px;
        margin: 0 0 5px 0;
    }

    .first-p {
        margin: 4px 0 0 0;
    }

    .second-p {
        margin: 4px 0 0 0;
    }

    hr {
        width: calc(545px - 1.6px);
        margin: 8px 0 8px 0;
    }

    .normal-p {
        margin: 7px 0 0 0;
    }

    .me-p {
        margin: 6px 0 0 0;
    }

    .btn-normal {
        font-size: 14px;
        width: 60px
    }

    .btn-modal {
        font-size: 13px;
        width: 67.5px;
        height: 37.5px;
    }

    #delete {
        margin: 0 0 0 8px;
    }

    .measurement-container {
        width: 545px;
        margin: 8px 0 0 0;
    }

    .measurement-area {
        padding: 5px 8px 10px 8px;
    }

    #start, #stop, #reset {
        margin: 0 10px 0 0;
    }

    .history-area {
        width: 545px;
        margin: 10px 0 0 0;
    }

    .history-title {
        font-size: 12px;
    }

    #history {
        font-size: 9px;
        height: 230.2px;
        margin: 1px 0 0 0;
        padding: 0.1px 1px;
    }

    .btn-clear-area {
        margin: 2px 0 0 0;
    }

    #copy {
        margin: 0 10px 0 0;
    }

    #alert-content, #confirm-content {
        margin: 20px auto auto auto;
        width: 390px;
    }

    .alert-main, .confirm-main{
        padding: 5px 15px 15px 15px;
    }

    #alert-text, #confirm-text {
        font-size: 15px;
    }

    .alert-btn-area, .confirm-btn-area {
        margin: 14px 5px 0 0;
    }

    #confirm-close-yes {
        margin: 0 10px 0 0;
    }

}


@media screen and (max-width: 550px) { /*for smartphone*/
    html {
        font-size: 11.5px;
    }

    body {
        width: 387px;
        margin: 2px auto auto auto;
    }

    .title-area {
        width: 387px;
    }

    .theme-select {
        font-size: 14px;
        width: 70px;
        height: 24px;
        margin: 0 0 3px 0;
    }

    .first-p {
        margin: 3px 0 0 0;
    }

    .second-p {
        margin: 3px 0 0 0;
    }

    hr {
        width: calc(387px - 1.6px);
        margin: 8px 0 8px 0;
    }

    .normal-p {
        margin: 5px 0 0 0;
    }

    .me-p {
        margin: 4px 0 0 0;
    }

    .btn-normal {
        font-size: 10px;
    }

    .btn-modal {
        font-size: 13px;
        width: 65px;
        height: 35px;
    }

    #delete {
        width: 45px;
        margin: 0 0 0 5px;
    }

    .measurement-container {
        width: 387px;
        margin: 9px 0 0 0;
    }

    .measurement-area {
        padding: 2px 4px 5px 4px;
    }

    #start, #stop, #reset {
        width: 45px;
        margin: 0 8px 0 0;
    }

    .history-area {
        width: 387px;
        margin: 9px 0 0 0;
    }

    .history-title {
        font-size: 9px;
    }

    #history {
        font-size: 6.5px;
        height: 230px;
        margin: 1px 0 0 0;
        padding: 0 1px;
    }

    .btn-clear-area {
        margin: 3px 0 0 0;
    }

    #copy, #clear {
        width: 50px;
    }

    #copy {
        margin: 0 6px 0 0;
    }

    #alert-content, #confirm-content {
        margin: 40px auto auto auto;
        width: 90%;
    }

    .alert-main, .confirm-main {
        padding: 5px 15px 15px 15px;
    }

    #alert-text, #confirm-text {
        font-size: 16px;
    }

    .alert-btn-area, .confirm-btn-area {
        margin: 10px 6px 0 0;
    }

    #confirm-close-yes {
        margin: 0 10px 0 0;
    }

}


/*common*/

html {
    text-size-adjust: none;
}

html, .theme-select, .btn {
    font-family: "Arial", "Helvetica", sans-serif;
}

.number {
    font-variant-numeric: tabular-nums;
}

.title-area, .title, .select-theme-area, .btn-normal-area, .me-mode, .history-title, #alert-text, #confirm-text {
    margin: 0;
}

.title {
    font-size: 2rem;
    text-align: left;
    float: left;
}

.theme-select {
    color: #000000;
    vertical-align: middle;
    border: 1px #000000 solid;
    border-radius: 0.5px;
}

.theme-select:hover {
    cursor: pointer
}

.select-theme-area, .btn-clear-area, .alert-btn-area, .confirm-btn-area {
    text-align: right;
}

.first-p, .second-p {
    font-size: 1.4rem;
}

.normal-p, .me-p {
    font-size: 1rem;
}

.measurement-area {
    display: block;
    margin: 0;
}

.history-title, #history {
    font-family: "Courier New", "Courier", monospace;
}

#history {
    resize: none;
    width: calc(100% - 3.6px);
}

#level-area, .charge-status-area {
    font-weight: bold;
}

#sun {
    color: #fa2802;
}

#sat {
    color: #2460b4;
}

#charge {
    color: #ee240a;
}

#discharge {
    color: #325abf;
}

.btn {
    text-align: center;
    vertical-align: middle;
    border: 1px black solid;
    border-radius: 2px;
    padding: 2px 6px;
}

.btn:hover, .cross:hover {
    cursor: pointer;
}

#alert-header:hover, #confirm-header:hover {
    cursor: grab;
}

#alert-header:active, #confirm-header:active {
    cursor: grabbing;
}

.btn-white {
    background-color: #efefef;
    color: #000000;
}

.btn-white:hover {
    background-color: #e5e5e5;
}

.btn-white:active {
    background-color: #d0d0d0;
}

.btn-blue {
    background-color: #2a66ce;
    color: #ffffff;
}

.btn-blue:hover {
    background-color: #1056be;
}

.btn-blue:active {
    background-color: #4175ce;
}

.cross-header {
    display: inline-block;
    padding: 10px;
    width: max-content;
    height: max-content;
}

.cross {
    height: 16.2px;
    width: 16.2px;
    margin: 0;
}

.stick-area {
    position: relative;
    top: 7.1px;
    right: 2.4px;
}

.stick-1 {
    transform: rotate(45deg);
}

.stick-2 {
    transform: rotate(-45deg);
}

.stick-1, .stick-2 {
    background-color: #777777;
    position: absolute;
    width: 21px;
    height: 2px;
}

#alert-header, #confirm-header {
    display: inline-block;
    width: calc(100% - 36.2px);
    height: 36.2px;
}

.cross:hover .stick-1, .cross:hover .stick-2{
    background-color: #999999;
}

.cross:active .stick-1, .cross:active .stick-2{
    background-color: #888888;
}

#alert {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
}

#confirm {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
}

#alert-content, #confirm-content {
    animation-name: fade;
    animation-duration: 0s;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
}

@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

#alert-text, #confirm-text {
    overflow-wrap: break-word;
}

.font-size-0 {
    font-size: 0;
}

/*
*{
    outline:1px red solid;
}
*/
